
<footer class="bg-dark text-white pt-5 pb-4 comp-footer">
    <div class="container text-center text-md-left">
      <div class="row">
        <!-- Company Info -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Tech Solution Pvt. Ltd.</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tenetur, rerum ad ratione earum sit vitae
            aliquam iste dolorem. Impedit numquam cupiditate incidunt cumque eaque.</p>
        </div>
  
        <!-- Services -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
          <p>
            <a href="#service" class="text-white link-underline">Technology Consultancy</a>
          </p>
          <p>
            <a href="#service" class="text-white link-underline">Robotic Process Automation</a>
          </p>
          <p>
            <a href="#service" class="text-white link-underline">Digital Transformation</a>
          </p>
        </div>
  
        <!-- Useful Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
          <p>
            <a href="#service" class="text-white link-underline">About Company</a>
          </p>
          <p>
            <a href="#service" class="text-white link-underline">Our Board</a>
          </p>
          <p>
            <a href="#service" class="text-white link-underline">Our Achievements</a>
          </p>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
          
            <div>
             <img src="../assets/images/logo.jpg" alt="" height="50" width="150">
            </div>
         
          <p>
            <i class="fas fa-envelope mr-3"></i> enquiry@techsolutions.com
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> +91 1234567890
          </p>
          <p>
            <i class="fas fa-print mr-3"></i> +080 2356 345
          </p>
        </div>
      </div>
    </div>
  
    <hr class="mb-4">
  
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-start">
            &copy; 2024 All rights reserved.
            <a href="#" class="link-underline text-primary">
              <strong>Tech Solutions</strong>
            </a>
          </p>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;" data-bs-toggle="tooltip"
                  data-bs-title="Facebook"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-linkedin-in" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"
                    aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>