<div class="container p-2" id="service">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="text-danger ">
          Services
        </h1>
      </div>
    </div>

    <div class="row m-2">
      <div class="col-md-6 d-flex justify-content-center">

        <img src="../../assets/images/rpa.jpg" alt="CompanyImage" class="prod-img2 rounded">

      </div>
      <div class="col-md-6">

        <ng-container *ngFor="let title of titles">
          <mat-accordion class="m-2">
            <mat-expansion-panel>
            <mat-expansion-panel-header class="bg-primary">
              <mat-panel-title ><strong class="text-white">{{title}}</strong></mat-panel-title>
            </mat-expansion-panel-header>
            <p>Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
              user activates the relevant trigger. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, aut
              iste facere quidem sunt libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi architecto
              alias inventore explicabo ex. Tempore deserunt dolorum doloribus voluptate facilis amet praesentium natus
              quaerat? Saepe rerum fugit aspernatur maiores enim! Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Corrupti, veniam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, autem. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Ipsam, aliquid.</p>
          </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
        
        <!-- <p class="d-inline-flex gap-1 p-2 m-0">
          <button class="btn btn-primary services-coll" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleImage(this)">
            <strong>Technology Consultancy</strong>
            <img src="../../assets/images/white-down-arrow.png" class="white-arrow" alt="">
          </button>
        </p>
        <div class="collapse show" id="collapseExample">
          <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user activates the relevant trigger. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, aut
            iste facere quidem sunt libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi architecto
            alias inventore explicabo ex. Tempore deserunt dolorum doloribus voluptate facilis amet praesentium natus
            quaerat? Saepe rerum fugit aspernatur maiores enim! Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Corrupti, veniam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, autem. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Ipsam, aliquid.
          </div>
        </div>

        <p class="d-inline-flex gap-1 p-2 m-0">
          <button class="btn btn-primary services-coll" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleImage(this)">
            <strong>Robotic Process Automation</strong>
            <img src="../../assets/images/white-down-arrow.png" class="white-arrow-2" alt="">
          </button>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user activates the relevant trigger.
          </div>
        </div>

        <p class="d-inline-flex gap-1 p-2 m-0">
          <button class="btn btn-primary services-coll" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleImage(this)">
            <strong>Digital Transfromation</strong>
            <img src="../../assets/images/white-down-arrow.png" class="white-arrow-3" alt="">
          </button>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user activates the relevant trigger.
          </div>
        </div>


      </div> -->
    </div>

  </div>

  <div class="container card-trans p-4 m-4 mx-auto">
    <div class="row border border-rounded border-secondary border-2 rounded-3 m-2 p-2">
      <h2 class="text-primary text-center"><strong>Some of our Clients</strong></h2>
      <div class="row text-center">
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/adani.png" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/hindustanuniliver.jpg" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/IndiGo-Logo.jpg" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/itc.jpg" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/l&t.png" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/mankind.png" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/nestle.png" class="client-logo img-fluid" alt="client-image">
        </div>
        <div class="col-6 col-md-3 my-2">
          <img src="../../assets/images/reliance.png" class="client-logo img-fluid" alt="client-image">
        </div>
      </div>
    </div>
